<!DOCTYPE html>
<html>
<meta charset="utf-8">
   <title>Rescue A Pet App</title>
   <!--Import Google Icon Font-->
   <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

   <!-- CSS
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link rel="stylesheet" href="/./css/normalize.css">
   <link rel="stylesheet" href="/./css/skeleton.css">
   <link rel="stylesheet" href="/./css/main.css">
    </head>

    <body class="mochi">

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>

<body>
  <nav>
    <% include ./partials/nav.ejs %>
  </nav>

<header>
Pet Rescue App
</header>

        <div class="containerTwo">
        <div>
        <h2><%=pets.name; %></h2>
        <div class="">
        <img src="<%=pets.img; %>" alt="">
    </div>
          <form action="/pets/<%=pets.id%>?_method=PUT" method="POST">
            <input type="text" name="name" placeholder="Name"/><br/>
       <textarea type="text" name="description" placeholder="Description" /></textarea>
       <br>

          <input type="submit" name="" value="Edit Rescue" id="edit"/>
          </form>
      </div>
      </div>
      <footer>
        <div class="footertext">
          <a href="/pets">Back to Pets</a>
        </div>
        <a href="https://secure.aspca.org/donate/ps-gn-20190717-p2?ms=MP_PMK_Googlebrand-T4&initialms=MP_PMK_Googlebrand-T4&pcode=WPSE9XXGOGN2PK00014&lpcode=WPSE9XXGOGN1PK00014&test&ds_rl=1066461&gclid=Cj0KCQjwhJrqBRDZARIsALhp1WSTk_HmQIWQw1wHd17WDZRt3xe3ZuCxIHJ2myjDiAphwZh67PuhvpEaAt8CEALw_wcB&gclsrc=aw.ds">Donate To The ASPCA</a>
          </div>
      </footer>

    </body>
</html>
