nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  background-color: rgba(236, 236, 236, 1);

}
img{
  width: 300px;
}
header{
  text-align: center;
  margin: 30px;
  font-size: 36px;
}

footer{
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgba(236, 236, 236, 1);
  position: fixed;
  bottom: 0;
}

a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}

a:hover{
  color: grey;
  text-decoration: underline;
}

.mochi{
  background-image: url('https://wallpapercave.com/wp/NRgetGw.jpg');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.row{
  display: flex;
  justify-content: center;
  width:480px;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

}

.containerTwo{
  display: flex;
  justify-content:center;
  margin-bottom: 100px;
}

.containerThree{
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.title{
  padding: 10px;
}

.footertext{
  padding: 15px;
}


.display{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid black;

}

.displaytwo{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid black;
  width: 50%;

}

.vision{
  margin: 5px;
}

.holder{
  margin: 10px;
  width: 100%;
}
.mother{
  display: flex;

}

.spacer{
display: flex;
margin-top: 40px;
margin-right: 20px;

}

.spaced{
display: flex;
margin-top: 30px;
margin-right: 20px;

}

.spaceo{
display: flex;
margin-top: 35px;
margin-right: 20px;
font-size: 26px;

}

.spaceman{
display: flex;
margin-top: 20px;
margin-right: 20px;
font-size: 26px;

}


.logout{
margin-top: 10px;
}


.feature{
  padding: 30px;
  text-align: center;
  width: 400px;
  background-color: rgba(238, 238, 238, .6);
  margin: 20px;
  min-height: 900px;

}

.feature:hover{

  background-color: rgba(238, 238, 238, 1);

}


.logo{
width: 100%;
height: 40px;
padding: 10px;
}


.log{
    display: flex;
    justify-content: center;
}

.containerlog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.heart {
  width: 5%;
  margin: 5px;
}

.pug{
  width: 30px;
  height: 40px;
  padding: 5px;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;

}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
line-height: 120%;
}
.heart {
  width: 40px;
}

.info {
  padding: 30px;
  text-align: center;
  width: 100%;
  background-color: rgba(238, 238, 238, .6);
  margin: 20px;
}

.logocontent{
  padding: 20px;
}

.scale-up-center {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-8-4 13:35:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
 /* ----------------------------------------------
  * Generated by Animista on 2019-8-4 13:37:5
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

 /**
  * ----------------------------------------
  * animation scale-up-center
  * ----------------------------------------
  */
 @keyframes scale-up-center {
   0% {
     transform: scale(0.5);
   }
   100% {
     transform: scale(1);
   }
 }

 .vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    opacity: .7;
 }
 .vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
