<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Ollivanders </title>
            <link rel="stylesheet" href="/css/main.css">
          <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>
    <body>
      <header>
          Ollivander's Magic Shop
      </header>
  <h1 class="announcement">Our Products</h1>
<div class="container">


  <% for(let i = 0; i < products.length; i++){ %>
    <div class="display">
<div class="holder">
      <a href="/products/<%=products[i].id; %>">
          <%=pets[i].name; %><br>
      </a>
      </div>
      <div class="holder">
          <%=pets[i].description; %>
      </div>
      <div class="holder">

          <img src="<%=pets[i].img; %>" alt="">
      </div>

    </div>

            <% } %>
    </body>
</div>
    <footer>
          <div class="footerText">
              <a href="/products/new">Admin</a>
          </div>
    </footer>
</html>
